*{
	margin: 0;
	padding: 0;
}

body{
	padding: 10px;
	font-family: 'Montserrat',sans-serif;
	overflow-x: hidden;
	box-shadow: border-box;
}

header{
	position:relative;}


.logo-container{
	display: inline-block;
}
.logo{ 		
	width: 50px;
}

nav{
	display: inline-block;
	width: 70%;
	margin-left:8% ;
	position: absolute;
	top: 20px;
}

.nav-items{
	display: inline-block;
	margin: 0 10% 0 6%;
}


.nav-links{
	text-decoration: none;
	color: #A5A5A5;
	font-size: 14px;
}


#title{
	background-color: #212121;
	padding: 0 12%;
	position: relative;
	overflow: hidden;
}


.btn{
	width: 200px;
	height: 50px;
	border-radius: 10px;
	/*font-weight: bold;*/
	/*padding: 0 20%;	*/
}
/*Main Section------------------------------------*/

/*.main{padding:2% 0 20% ;}*/

.man-image{
	width: 55%;
	position: absolute;
	right: -5px;
	bottom: -33px;

}

h1{
	font-size: 90px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	margin-top: 8%;
}

.join-now-button{

	background-color: #FFC700;
	border: none;
	color: #212121;
	font-size: 24px;
	font-weight: bolder;
	margin: 2% 0 16%;	
}

/*GYM LOCATION*/

#gym-loc{
	background-color:#212121 ;
	/*text-align:center ;*/
	padding: 0% 12% 5%;
}

.location-image{
	width:500px;
	height: 350;	
	border-radius :16px 0 0 16px;

}

.address-holder{
	width: 25%;
	height: 350px;
	display: inline-block;
	line-height: 2 ;
	color: whitesmoke;
}

.loc-heading-container{
	text-align: center;
	background-color: #ffc700;
	padding:  10% 0 5%;
	margin:  0 -16%  ;
}

.img-container{
	
	border-color: whitesmoke;
	border-radius: 16px;

}


/*.heading{
	background-color: #ffc700;
	height: 200px;
}
*/
/*.location-img-container{
	padding-top: 10%;
	background-color: ;
	padding-bottom: 3%;
	display: inline-block;
}
*/
h2{
	color: #212121;
	font-size: 38px;
	font-family: 'ubuntu', sans-serif;
	font-weight: bold;
}

hr{
	width: 50%;
	margin: auto;
	border:  2px solid #212121;
	margin-top: 5px;
}


/*p{
	line-height: 2;
	color: #d4d4d4;
}
*/
.img-container-large{


	width:400px;
	background-image: ;
	background-repeat: no-repeat ;
 	border-radius: 10px ;
 	background-size: ;

}
/*plans section*/

#plans{
	padding: 10% 12% ;
	text-align: center;
	background-color: #ffc700;
	

}

.card-container{
	padding-top: 10%;
	,margin-bottom:10% ;
}

.card{
	width: 22%;
	margin-right: 50px;	
	display: inline-block;
	background-color: #212121;	
	border-radius:16px;
	position: relative;
	padding: 30px ; 
	box-shadow: 20px 15px rgba(0, 0, 0, 0.5);
}

.card-icon{
	font-size: 50px;
	color: white;
}

.card-feature{
	margin-top: 50px ;
/*	color: white;*/
	margin-left: 25px;
/*margin:  auto*/
}

 .card-feature td
 {
 	line-height: 2;
 	text-align: left;
 	color: white;
 	font: 18px;
 	padding: /*0 0  0*/ 15px  ;


 }

.check-gray{
	color: #2A2929;
	font-size: 20px;
}

.check-selected{
	color: #ffc700;
	font-size: 20px;
}

/*.wrong{
 	color: #ffc700;
 	font size : 25 px;
 }
*/

.join-button{
	text-decoration: none;
	color: white;
	font-size: 45px;
	font-family: 'ubuntu' sans-serif;
	font-weight: bold;
	padding: 0 20%;
}
 

.card-bottom{
 	margin-top: 60px;	

}

.pricetag{
	color:#ffc700 ;
	font-size: 25px;
	margin-top: 25px;

}
.first-card-icon{
	padding: 5% ;
	margin:  0 -30px;
	position: relative;
	background-color: white;
	bottom: 35px 	border-radius: 16px 16px 0 0 ;
}
.second-card-icon{
	padding: 5% ;
	margin:  0 -30px;
	position: relative;
	background-color: white;
	bottom: 35px;
	border-radius: 16px 16px 0 0 ;
}

/*download section*/
#download-section{
	text-align: center;
	padding: 10% 2%;
	background-image:  linear-gradient(to left, #212121 25%,black);
}
.download-heading{
	 color: #ffc700;
	 line-height: 1.3;
	 font-size: 42px ;
}
.download-button{
	padding: 1%;
	text-decoration: none;
	color: #212121;
	background-color: whitesmoke;
	font-weight: bold;
	font-size: 16px;
	margin-right: 25px;
	transition: background-color 0.8s;
}


.ios-button{
	background-color: transparent;
	color: whitesmoke;
	border: 2px solid whitesmoke ;

}

.download-button:hover{
	background-color: #ffc700;
	color: #212121;
	border-color: #ffc700;
	transition: background-color 0.8s;
}


/*contact us*/
#contact-us{
	background-image:  linear-gradient(to right, #212121 25%,black);		
	text-align: center;
	padding: 10% 2%;
	
}

.contact-us-heading{
	color: #ffc700;
}

.box{
	position: relative;
	left: 16%;
	width: 60%;
	padding: 50px;
	text-align: center;
	background-image:  linear-gradient(to bottom, #ffc700 2%,orange);
}	/*position: relative;
	left: 25%;
	top: 25%;*/


.box input[type="text"]{
	transition: background-color 0.8s;
	height: 200px;
	width: 300px;
	background-color: #212121;
	font-weight: bold;
	font-size: 16px;
	margin-right: 25px;
}

.box input[type="text"],.box input[type="submit"],.box input[type= "username"]{
	padding: 1%;
	text-decoration: none;
	color: whitesmoke;
	background-color: #212121;
	font-weight: bold;
	font-size: 16px;
	margin-right: 25px;
	transition: background-color 0.8s;
}


.box input[type="text"],.box input[type="submit"],.box input[type= "username"]:hover{

	background-color: #ffc700;
	color: whitesmoke;

	border-color: #ffc700;
	transition: background-color 0.8s;
}


footer{
	text-align: center;
	background-image:  linear-gradient(to left, #212121 25%,black);

	
}

.footer-logo{
	height: 50px;
	width: auto;
}

.footer-logo:hover{
	background-color: #ffc700;
	color: whitesmoke;

	border-color: #ffc700;
	transition: background-color 0.8s;

}